.project
.settings
package-lock.json
/node_modules
.Rproj.user
.idea/
.Rhistory

marmalised.json
obsoutput.csv
obsoutput.json

moduleOverrides.json5

data/Galiano 2024/bigdata/**
data/Janszen/**

data/iNaturalist/taxa.db/

.DS_Store

jwt.json
