:root {
  --imerss-map-width: 800px;
  --imerss-sun-height: 815px;
}

.imerss-container {
    display: flex;
    flex-direction: row;
}

.imerss-map-and-taxa {
    display: flex;
    flex-direction: column;
    margin-right: 0.75rem;
}

.imerss-tabs-and-search {
    display: flex;
    flex-direction: column;
}

.imerss-taxa {
    display: flex;
    flex-direction: row;
}

.imerss-segment {
    stroke: #444;
    stroke-width: 1px;
}

.imerss-segment.imerss-layoutRoot {
    stroke-width: 3.5px;
}

.imerss-labelPath {
    fill: none;
    stroke: none;
}

.imerss-svg {
    font-size: 40px;
    max-height: calc(var(--imerss-sun-height) + 2rem);
    margin-top: -1rem;
}

.imerss-map {
    height: 500px;
    width: var(--imerss-map-width);
}

.imerss-viz-dimens {
    height: var(--imerss-sun-height);
    /** Overrides width: 480px which is now in core, probably shou */
    width: auto;
}

.imerss-clickable {
    cursor: pointer;
}

.imerss-back {
    border: 2px solid black;
    display: inline;
    padding: 5px 15px 5px 15px;
    border-radius: 1rem;
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.5rem;
    left: 1.6rem;
    user-select: none;
}

.imerss-back:hover:not([aria-disabled="true"]) {
    background: #ccc;
}

.imerss-back:not([aria-disabled="true"]) {
    cursor: pointer;
}

.imerss-back[aria-disabled="true"] {
    opacity: 0.2;
    cursor: default;
}

.external-link {
    width: 1rem;
    height: 0.9rem;
    display: inline-block;
    background-image: url("../img/external-link.svg");
    background-repeat: no-repeat;
    background-size: 0.9rem;
    margin-left: 8px;
}

.imerss-cultural-values {
    display: flex;
    flex-wrap: wrap;
}

.imerss-cultural-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

.imerss-cultural-value-text {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.2rem;
}

.imerss-cultural-value-img {
    width: 108px;
    height: 108px;
    background-repeat: no-repeat;
    background-size: 108px;
}

.imerss-value-food {
    background-image: url(../img/Xetthecum/food.svg);
}

.imerss-value-medicinal {
    background-image: url(../img/Xetthecum/medicinal.svg);
}

.imerss-value-spiritual {
    background-image: url(../img/Xetthecum/spiritual.svg);
}

.imerss-value-material {
    background-image: url(../img/Xetthecum/material.svg);
}

.imerss-value-trade {
    background-image: url(../img/Xetthecum/trade.svg);
}

.imerss-value-indicator {
    background-image: url(../img/Xetthecum/indicator.svg);
}

.imerss-value-missing {
    background-image: url(../img/Xetthecum/missing-value.svg);
}

.imerss-datasets-label {
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 2rem;
}

.imerss-dataset-controls {
    display: table;
    padding: 2px;
    font-size: 0.9rem;
}

.imerss-dataset-taxa {
    min-width: 2rem;
}

.imerss-dataset-controls td {
    padding-left: 5px;
    padding-right: 5px;
    height: 1.2rem;
}

.imerss-dataset-legend {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid black;
    background-color: red;
    vertical-align: middle;
    margin: 2px;
}

.imerss-dataset-checkbox {
    vertical-align: middle;
    margin: 4px;
}

.imerss-dataset-footer {
    text-align: center;
}

.imerss-map-holder {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    --imerss-stroke-width: 2;
}

.imerss-highlightBlock {
    stroke: deepskyblue;
    stroke-width: 4px;
}

.imerss-dataset-name {
    vertical-align: middle;
}

.imerss-map-grid {
    z-index: 750;
}

.imerss-map-region {
    stroke-width: var(--imerss-stroke-width);
    stroke: black;
    stroke-opacity: 1;
    fill-opacity: 1;
}

.imerss-map-tooltip {
    z-index: 800;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12rem;
    font-size: small;
    background-color: white;
    border: 1px solid black;
}

.imerss-highlightBlock {
    stroke: deepskyblue;
    stroke-width: 4px;
}

.imerss-selected-region {
    fill-opacity: 1;
}

.imerss-unselected-region {
    fill-opacity: 0.25;
}

/* TODO This has diverged between -core and -viz */
.imerss-checklist-holder {
    overflow-y: scroll;
    padding: 1em 1.4em;
}

/** Core has overflow-y: auto, we do scrolling at holder level together with viz-dimens */
.imerss-checklist {
    overflow-y: revert;
}

.imerss-photo {
    width: 100%;
}

.imerss-left-column {
    width: 1024px;
}

/* This one from pepiowelh.css, unsets hard width in old core */
/* Where do we want this? Doesn't seem desirable in any "old" viz and not used in "new" */
/*
.imerss-left-column {
    flex: 1 1 0;
    width: 30%
}
*/
.imerss-right-column {
    /* Roughly agree with taxon display - 480px plus scroll bar and change */
    width: calc(480px + 3rem);
}

.imerss-taxonDisplay {
    width: 100%;
}

/** Deal with weird markup from old taxon display which has extra div */

.imerss-taxonDisplay > div {
    width: 100%;
}