#navbar {
    width: 100%;
    /** Weird height definitions are required to reduce jank on startup - perhaps viz content is oversized **/
    min-height: 130px;
    max-height: 130px;
    display: flex;
    flex-direction: column;
}

/** This is the cutpoint taken from OSU.css **/
@media screen and (max-width: 1020px) {
    #navbar {
        min-height: 202px;
        max-height: 202px;
    }

    .imerss-fullscreen {
        display: none;
    }
}

.breadcrumb {
    margin-bottom: 5px;
}

#content-main {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.imerss-filters:first-child {
    margin-top: -2px;
}

.imerss-record-reporter {
    padding-top: 0;
}

.imerss-copy-checklist {
    top: 7px;
}

/** Account for slightly higher base font */

.imerss-checklist .pretty {
    line-height: 1;
}

.pretty {
    line-height: 0.95;
}

/** Override boguss definition from OSU core styles */

input[type="radio"], input[type="checkbox"] {
    margin: 0;
}

label {
    display: revert;
    font-weight: revert;
}

body {
    font-size: unset;
    line-height: unset;
}

html {
    font-size: unset;
}


@font-face {
    font-family: 'Stratum2Web';
    src: url(../fonts/OSU/Stratum2WebBold.woff2) format('woff2'),url(../fonts/OSU/Stratum2WebBold.woff) format('woff');
}

@font-face {
    font-family: 'Stratum2Light';
    src: url(../fonts/OSU/Stratum2WebLight.woff2) format('woff2'),url(../fonts/OSU/Stratum2WebLight.woff) format('woff');
}

@font-face {
    font-family: 'Stratum2Regular';
    src: url(../fonts/OSU/Stratum2WebRegular.woff2) format('woff2'),url(../fonts/OSU/Stratum2WebRegular.woff) format('woff');
}

@media screen and (max-width: 1058px) {
    #navbar .navbar-main-menu {
        display: none;
    }
}

.imerss-fullscreen-mode #navbar, .imerss-fullscreen-mode .breadcrumb {
    display: none;
}
