.fld-bagatelle-segment {
    stroke: #444;
    stroke-width: 1px;
}

.fld-bagatelle-segment.fl-bagatelle-layoutRoot {
    stroke-width: 2.5px;
}

.fld-bagatelle-labelPath {
    fill: none;
    stroke: none;
}

.flc-bagatelle-svg {
    font-size: 30px;
}

.fld-bagatelle-map {
    width: 800px;
    height: 600px;
}

.fl-bagatelle-clickable {
    cursor: pointer;
}

.fld-bagatelle-taxonDisplay > div {
    float: right;
    width: 500px;
    display: flex;
    align-items: center;
    height: 0px;
    overflow:visible;
}

.fl-taxonDisplay-key {
    width: 12em;
    padding-right: 10px;
}

.fl-taxonDisplay-value {
    width: 100%;
}

.fld-bagatelle-taxonDisplay table {
   border: 1px solid #aaa;
   border-collapse: collapse;
}

/*
.fld-bagatelle-taxonDisplay tr {
   border-bottom: 1px solid #eee;
}
*/

.fld-bagatelle-taxonDisplay tr:nth-child(even) {
   background: #eee;
}

.fld-bagatelle-taxonDisplay tr:nth-child(odd) {
   background: #fff;
}

.fld-bagatelle-taxonDisplay tr:last-child {
    border: none;
}

.fld-bagatelle-dataset-controls {
    margin: auto;
    display: table;
    padding: 2px;
    font-size: 0.9rem;
}

.fld-bagatelle-dataset-controls td {
    padding-left: 5px;
    padding-right: 5px;
    height: 1.2rem;
}

.fld-bagatelle-dataset-legend {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px block;
    background-color: red;
    vertical-align: middle;
    margin: 2px;
}

.fld-bagatelle-dataset-checkbox {
    vertical-align: middle;
    margin: 4px;
}

.fld-bagatelle-dataset-footer {
    text-align: center;
}

.fld-bagatelle-map-holder {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.fld-bagatelle-dataset-name {
    vertical-align: middle;
}

.fld-bagatelle-map-grid {
    z-index: 750;
}

.fld-bagatelle-map-tooltip {
    z-index: 800;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20rem;
    font-size: 0.9rem;
    background-color: white;
    border: 1px solid black;
}

.fl-bagatelle-highlightBlock {
    stroke: deepskyblue;
    stroke-width: 4px;
}

.fld-bagatelle-map-tooltip tr:nth-child(even) {
    background: #eee;
}

.fld-bagatelle-map-tooltip tr:nth-child(odd) {
    background: #fff;
}

.fld-bagatelle-map-tooltip table {
    border-collapse: collapse;
}

.fl-bagatelle-imgLoadingOverlay:after {
    content: "";
    position: absolute;
    background-image: url(../img/loading-icon.gif);
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    width: 400px;
}

.fl-bagatelle-photo {
    width: 400px;
}

.fl-bagatelle-imgLoading {
    min-height: 300px;
}

.fld-bagatelle-autocomplete {
    width: 30em;
    margin-left: 1rem;
    display: inline-block;
}

.flc-bagatelle-autocomplete-row {
    text-align: center;
}

.autocomplete__menu {
    max-height: 600px;
}

.fld-bagatelle-tabs .ui-state-active.ui-tabs-tab {
    background: #fff;
}

.fld-bagatelle-tabs .ui-state-active.ui-tabs-tab a {
    background: #fff;
    color: #444;
}

.flc-bagatelle-viz-dimens {
    min-height: 800px;
    min-width: 800px;
}

#fli-tab-checklist {
    overflow-y: scroll;
}

.fld-bagatelle-checklist p {
    display: inline;
    padding: 1px;
}

.fld-bagatelle-checklist p:hover {
    background: #dde;
}

.fld-bagatelle-checklist ul {
    margin-block-start: 0px;
    list-style-type: none;
}

.fld-bagatelle-checklist > ul {
    padding: 0px;
}

.fld-bagatelle-checklist-up {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/up-arrow.png);
    background-size: cover;
    margin-left: -0.5rem;
    margin-bottom: 0.2rem;
}

.fld-bagatelle-checklist-up:hover {
    outline: 1px solid black;
    outline-offset: 1px;
}

/* The checklist rank highlighting */

.flc-checklist-rank-life {
    text-transform: uppercase;
    font-size: 1.2em;
}

.flc-checklist-rank-kingdom {
    text-transform: uppercase;
    font-size: 1.2em;
}

.flc-checklist-rank-phylum {
    text-transform: uppercase;
    font-size: 1.1em;
}

.flc-checklist-rank-class {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.0em;
}

.flc-checklist-rank-subclass {
    text-transform: uppercase;
    font-size: 1.0em;
}

.flc-checklist-rank-order {
    text-transform: uppercase;
    font-size: 1.0em;
}

.flc-checklist-rank-family {
    text-transform: uppercase;
    font-size: 1.0em;
}

.flc-checklist-rank-genus {
    font-size: 1.0em;
    font-style: italic;
}

.flc-checklist-rank-species {
    font-size: 1.0em;
    font-style: italic;
}
