#sidebar {
    display: none;
}

.et_boxed_layout #page-container,
.et_fixed_nav.et_boxed_layout #page-container #top-header,
.et_fixed_nav.et_boxed_layout #page-container #main-header,
.et_boxed_layout #page-container .container,
.et_boxed_layout #page-container .et_pb_row {
    max-width: 2600px;
}

#main-content .container::before {
    content: none;
}

/*
.fl-bagatelle-container {
    line-height: 1.4em;
}
*/

.fld-bagatelle-dataset-controls {
    font-size: 16px;
}

table {
    border: none !important;
}

#main-content .entry-content table td {
    padding: 0px 5px;
}

.fl-bagatelle-container .fld-bagatelle-checklist ul {
    padding-bottom: 0px;
}

.fld-bagatelle-taxonDisplay {
    background: white;
}
