body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    margin: 8px;
    height: calc(100vh - 16px); /* To allow for 8px margins */
    overflow: hidden
}

.imerss-map-holder {
    height: 100%;
    width: 50%;
}

.imerss-map-and-taxa {
    height: 40%;
}

.imerss-checklists {
    display: flex;
    flex-direction: row;
    height: 60%;
    overflow: hidden;
}

.imerss-checklists * {
    box-sizing: border-box;
}

/** Quick hack to deal with the fact we can't quickly suppress spacing for non-unfoldable root */
.imerss-checklist {
    margin-left: -20px;
}

.checklist-rank-order > p {
    text-transform: none;
}

.checklist-rank-family > p {
    text-transform: none;
}

.imerss-pollinators {
    width: 25%;
    min-width: 25%;
}

.imerss-interactions {
    padding: 0.5em;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imerss-plants {
    width: 30%;
    min-width: 30%;
}

.imerss-interactions-holder {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imerss-int-left {
    flex: 0 0 180px;
}

.imerss-int-right {
    flex: 0 0 3em;
}

.imerss-int-h-middle {
    overflow-x: scroll;
}

.imerss-int-top {
    flex: 0 0 3em;
}

.imerss-int-v-middle {
    flex: 1 1 auto;
    overflow-y: hidden;
}

.imerss-int-bottom {
    flex: 0 0 100px;
}


.imerss-int-row {
    display: flex;
    flex-direction: row;
}

.imerss-poll-names {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: end;
    margin-right: calc(var(--imerss-scrollbar-width) + 4px);
    overflow-x: hidden;
}

.imerss-poll-counts {
    position: relative;
    display: flex;
    align-items: end;
    overflow-x: hidden;
    margin-right: calc(var(--imerss-scrollbar-width) + 4px);
}

.imerss-plant-names {
    margin-bottom: calc(var(--imerss-scrollbar-width) + 4px);
}

.imerss-plant-counts {
    margin-left: 4px;
    margin-bottom: calc(var(--imerss-scrollbar-width) + 4px);
}

.imerss-plant-names, .imerss-plant-counts {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.imerss-plant-names::-webkit-scrollbar, .imerss-plant-counts::-webkit-scrollbar  {
    display: none;  /* Safari and Chrome */
}

.imerss-poll-names .imerss-int-label {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    /* bottom: 1em; No idea why they stick off the bottom otherwise */
}

.imerss-int-label {
    position: absolute;
    white-space: nowrap;
    font-size: 14px;
}

.imerss-int-count {
    position: absolute;
}

.imerss-plant-counts .imerss-int-count {
    /* Colour taken from Young et al 2021 */
    background-color: #4c92c3;
    border: 1px solid black;
}

.imerss-poll-counts .imerss-int-count {
    background-color: #ff7c4a;
    border: 1px solid black;
}

.imerss-int-poll-label {
    font-size: 20px;
    writing-mode: tb-rl;
    transform: rotate(180deg);
}

.imerss-int-plant-label {
    font-size: 20px;
}

.imerss-int-tooltip {
    font-size: 15px;
}

.imerss-taxonDisplay {
    display: none;
}

.imerss-sex-filter-checks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imerss-sex-filter-checks > div {
    display: flex;
    padding-left: 5px;
}

.imerss-l3eco-filter .imerss-filter-body {
    height: 5rem;
}

.imerss-filter-row .imerss-row-label, .imerss-phenology-range {
    padding-right: 0.5rem;
}

.imerss-phenology-label {
    padding-right: 0.5rem;
    margin-right: auto;
    width: 4rem;
}

.imerss-phenology-filter .imerss-filter-body {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
}

.imerss-bbea-grid-tooltip div.text {
    max-width: initial;
}

.imerss-bipartite {
    overflow: auto;
    height: 100%;
    font-size: 14px;
}

.imerss-bipartite svg {
    display: block;
}

.bipartite-label {
    font-size: 18px;
    font-weight: 500;
}

/* Because the sex filter is here, transfer this padding below it */
.imerss-pollinators .imerss-panel-label {
    padding-bottom: 0
}

.imerss-pollinators .imerss-bbea-filters {
    padding-bottom: 5px
}

/* Follow this illogical advice: https://stackoverflow.com/a/66689926/1381443 */
.imerss-tabs {
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.imerss-tab-panel {
    height: 100%;
    min-height: 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 0.5em;
}


/* Bee loading indicator adapted from https://codepen.io/Huyyy/pen/mdymXBr */

.loading-message {
    margin-inline: auto;
    color: orange;
    font-size: 36px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: fit-content;
}

.bee-loading-container {
    position: absolute;
    z-index: 999;
    opacity: 95%;
    display: flex;
    background: #ffeb3b;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-radius: 10px;
    overflow: hidden;
}

.bee-loading-container-hidden {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.bee {
    margin: auto;
    align-self: center;
    width: 50px;
    height: 50px;
    -webkit-animation: to-fly 0.4s infinite;
    animation: to-fly 0.4s infinite;
}
.bee-body {
    position: relative;
    width: 40px;
    height: 18px;
    border: 4px solid #fbc02d;
    background: #ffeb3b;
    border-radius: 20px;
    perspective: 2500px;
    z-index: 99;
}
.bee-body:before,
.bee-body:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}
.bee-body:before {
    right: 100%;
    top: 3px;
    border-top: 6px solid transparent;
    border-right: 13px solid #fbc02d;
    border-bottom: 6px solid transparent;
}
.bee-body:after {
    right: 97%;
    top: 6px;
    border-top: 3px solid transparent;
    border-right: 6px solid #ffeb3b;
    border-bottom: 3px solid transparent;
}
.bee-body .line {
    position: relative;
    left: 10px;
    height: 18px;
    width: 18px;
    background: #fbc02d;
}
.wing-right,
.wing-left {
    position: absolute;
    top: -18px;
    left: 12px;
    width: 15px;
    height: 15px;
    background: #ffeb3b;
    border: 4px solid #fbc02d;
    border-radius: 100%;
}
.wing-right {
    left: 15px;
    transform: skew(-20deg);
    -webkit-animation: wing-beat-right 0.25s infinite;
    animation: wing-beat-right 0.25s infinite;
    transform-origin: bottom;
    z-index: 9;
}
.wing-left {
    transform: skew(20deg);
    -webkit-animation: wing-beat-left 0.25s infinite;
    animation: wing-beat-left 0.25s infinite;
    transform-origin: bottom;
    z-index: 999;
}
.bee-path {
    display: inline-block;
    position: relative;
    top: -24px;
    left: -90px;
    width: 140px;
    -webkit-animation: pollen 0.14s infinite;
    animation: pollen 0.14s infinite;
}
.pollen {
    display: inline-block;
    margin: 0;
    width: 3px;
    height: 3px;
    background: #fbc02d;
    border-radius: 100%;
}
@-webkit-keyframes to-fly {
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes to-fly {
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}
@-webkit-keyframes wing-beat-right {
    50% {
        transform: rotateX(60deg) skew(-20deg) rotateZ(25deg);
    }
    100% {
        transform: rotateX(0) skew(-20deg);
    }
}
@keyframes wing-beat-right {
    50% {
        transform: rotateX(60deg) skew(-20deg) rotateZ(25deg);
    }
    100% {
        transform: rotateX(0) skew(-20deg);
    }
}
@-webkit-keyframes wing-beat-left {
    50% {
        transform: rotateX(-65deg) skew(20deg) rotateZ(-10deg);
    }
    100% {
        transform: rotateX(0) skew(20deg);
    }
}
@keyframes wing-beat-left {
    50% {
        transform: rotateX(-65deg) skew(20deg) rotateZ(-10deg);
    }
    100% {
        transform: rotateX(0) skew(20deg);
    }
}
@-webkit-keyframes pollen {
    0% {
        left: -90px;
    }
    100% {
        left: -95px;
    }
}
@keyframes pollen {
    0% {
        left: -90px;
    }
    100% {
        left: -95px;
    }
}