body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    margin: 8px;
    height: calc(100vh - 16px); /* To allow for 8px margins */
    overflow: hidden
}

.imerss-map-holder {
    height: 100%;
    width: 50%;
}

.imerss-map-and-taxa {
    height: 30%;
}

.imerss-checklists {
    display: flex;
    flex-direction: row;
    height: 70%;
    overflow: hidden;
}

.imerss-checklists * {
    box-sizing: border-box;
}

/** Quick hack to deal with the fact we can't quickly suppress spacing for non-unfoldable root */
.imerss-checklist {
    margin-left: -20px;
}

.checklist-rank-order > p {
    text-transform: none;
}

.checklist-rank-family > p {
    text-transform: none;
}

.imerss-pollinators {
    width: 25%;
    min-width: 25%;
}

.imerss-interactions {
    padding: 0.5em;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imerss-plants {
    width: 30%;
    min-width: 30%;
}

.imerss-interactions-holder {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imerss-int-left {
    flex: 0 0 180px;
}

.imerss-int-right {
    flex: 0 0 3em;
}

.imerss-int-h-middle {
    overflow-x: scroll;
}

.imerss-int-top {
    flex: 0 0 3em;
}

.imerss-int-v-middle {
    flex: 1 1 auto;
    overflow-y: hidden;
}

.imerss-int-bottom {
    flex: 0 0 100px;
}


.imerss-int-row {
    display: flex;
    flex-direction: row;
}

.imerss-poll-names {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: end;
    margin-right: calc(var(--imerss-scrollbar-width) + 4px);
    overflow-x: hidden;
}

.imerss-poll-counts {
    position: relative;
    display: flex;
    align-items: end;
    overflow-x: hidden;
    margin-right: calc(var(--imerss-scrollbar-width) + 4px);
}

.imerss-plant-names {
    margin-bottom: calc(var(--imerss-scrollbar-width) + 4px);
}

.imerss-plant-counts {
    margin-left: 4px;
    margin-bottom: calc(var(--imerss-scrollbar-width) + 4px);
}

.imerss-plant-names, .imerss-plant-counts {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.imerss-plant-names::-webkit-scrollbar, .imerss-plant-counts::-webkit-scrollbar  {
    display: none;  /* Safari and Chrome */
}

.imerss-poll-names .imerss-int-label {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    /* bottom: 1em; No idea why they stick off the bottom otherwise */
}

.imerss-int-label {
    position: absolute;
    white-space: nowrap;
    font-size: 14px;
}

.imerss-int-count {
    position: absolute;
}

.imerss-plant-counts .imerss-int-count {
    /* Colour taken from Young et al 2021 */
    background-color: #4c92c3;
    border: 1px solid black;
}

.imerss-poll-counts .imerss-int-count {
    background-color: #ff7c4a;
    border: 1px solid black;
}

.imerss-int-poll-label {
    font-size: 20px;
    writing-mode: tb-rl;
    transform: rotate(180deg);
}

.imerss-int-plant-label {
    font-size: 20px;
}

.imerss-int-tooltip {
    font-size: 15px;
}

.imerss-taxonDisplay {
    display: none;
}

.imerss-sex-filter-checks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imerss-sex-filter-checks > div {
    display: flex;
    padding-left: 5px;
}

.imerss-filter-panel {
    padding: 2px 1rem 2px 1rem;
    display: flex;
    flex-direction: column;
}

.imerss-filter {
    padding: 2px 0 2px;
    border-bottom: 1px solid #dbe3e7;
}

.imerss-filters {
    height: 100%;
    width: 20rem;
    overflow-y: auto;
    padding-right: 0.5em;
}

.imerss-record-reporter {
    padding-top: 2px;
}

.imerss-filter-title {
    font-size: smaller;
}

.imerss-filter-body {
    padding-left: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
}

.imerss-filter-clear {
    background-image: url(../img/x-circle-close.svg);
    background-size: 20px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.imerss-filter-clear.imerss-hidden {
    display: none;
}

.imerss-filters .autocomplete__hint, .imerss-filters .autocomplete__input, .imerss-filters .autocomplete__option {
    font-size: 16px;
    line-height: 1.25;
}

.imerss-filters .autocomplete__input--default {
    padding: 2px 4px 2px 4px;
    border-width: 1px;
    width: 15rem;
}

.imerss-region-filter-rows {
    display: flex;
    font-size: smaller;
    flex-direction: column;
    overflow-y: auto;
    align-items: end;
}

.imerss-l3eco-filter .imerss-filter-body {
    height: 5rem;
}

.imerss-filter-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

.imerss-filter-row .imerss-row-label, .imerss-phenology-range {
    padding-right: 0.5rem;
}

.imerss-phenology-label {
    padding-right: 0.5rem;
    margin-right: auto;
    padding-left: 6rem;
}

.imerss-bbea-grid-tooltip div.text {
    max-width: initial;
}

.imerss-bipartite {
    overflow: auto;
    height: 100%;
    font-size: 14px;
}

.imerss-bipartite svg {
    display: block;
}

.bipartite-label {
    font-size: 18px;
    font-weight: 500;
}

/* Follow this illogical advice: https://stackoverflow.com/a/66689926/1381443 */
.imerss-tabs {
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.imerss-tab-panel {
    height: 100%;
    min-height: 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 0.5em;
}