#sidebar {
    display: none;
}

.et_boxed_layout #page-container,
.et_fixed_nav.et_boxed_layout #page-container #top-header,
.et_fixed_nav.et_boxed_layout #page-container #main-header,
.et_boxed_layout #page-container .container,
.et_boxed_layout #page-container .et_pb_row {
    max-width: 2600px;
}

#main-content .container::before {
    content: none;
}

/** Need to keep this as fl-imerss-container since there are so many pages on BioGaliano using this in the literal
 * initBlock text, and a search and replace plugin costs $60/year!
 */
.fl-imerss-container {
    line-height: 1.4em;
    margin: 0 1rem 0 1rem;
}


.fl-imerss-container ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

.fl-imerss-container ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #C1C1C1;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.fl-imerss-container ::-webkit-scrollbar-thumb:hover {
    background-color: #A8A8A8;
}


.imerss-dataset-controls {
    font-size: 16px;
}

table {
    border: none !important;
}

#main-content .entry-content table td {
    padding: 0 5px;
}

.fl-imerss-container .imerss-checklist ul {
    padding-bottom: 0;
}

.imerss-checklist-holder {
    margin: 0.5em 0
}

.imerss-taxonDisplay {
    background: white;
    width: 35%;
    display: block; /* Without this, contents overflow with our extra margins */
}

.imerss-taxa {
    width: 100%;
}

.imerss-tabs-and-search {
    width: 65%;
    margin-right: 1rem;
}

.imerss-left-column {
    width: auto;
}

.taxonDisplay-expandable-remainder.taxonDisplay-runon-remainder {
    width: auto;
    padding-right: 0;
}

#fli-tab-sunburst {
    max-width: 850px;
}

.taxonDisplay-expand {
    margin-top: 2px;
}

/* AS requested these override in the global nav */

.nav li li {
    line-height: 1em;
}

#top-menu li li a {
    padding: 4px 5px;
}
