.fl-imerss-datasets {
    display: none;
    width: 0;
}

.fl-imerss-left-column {
    flex: 1 1 0;
    width: unset;
}

.fld-imerss-map {
    height: 100%;
    max-height: 40rem;
    min-width: 30rem;
}

.fl-imerss-map-and-taxa {
    flex-direction: row;
}

.fld-imerss-tabs {
    display: none;
}

.fl-imerss-tabs-and-search {
    padding: 2rem;
}

.fl-imerss-container {
    display: block;
}

.fld-imerss-map-holder {
    flex: 1 1 0;
    margin-bottom: 7.5%;
    margin-top: 7.5%;
    /* To ensure map does not peep out behind WE logo - revisit later */
    max-height: 490px;
    max-width: 550px
;
}

.leaflet-tile-pane {
    opacity: 0.8;
}

.flc-imerss-viz-dimens {
    height: revert;
    max-height: 40rem;
}

.fl-banner {
    display: flex;
    align-items: center;
}

.fl-banner span {
    padding-left: 3rem;
}

.fld-imerss-we-overlay {
    position: absolute;
    cursor: pointer;
    height: 120%;
    width: 120%;
    background: no-repeat url("../img/Pepiowelh/BlackNoWe2-wb-bb.png");
    background-size: contain;
    z-index: 999;
    opacity: 1;
    transition: opacity 2s;
}

.fl-imerss-taxa {
    /** Ensure that WE logo pops under taxa to the right */
    z-index: 1000;
}