:root {
  --imerss-map-width: 500px;
  --imerss-eco-colour: #DEE0B0;
  --imerss-map-colour: #DDE8C8;
}

body {
    margin: 0;
}

.fl-xetthecum-banner {
    background: #EDEFE9;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    font-size: 2.5rem;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.fl-imerss-container {
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.fld-imerss-map-holder {
    background: var(--imerss-map-colour);
}

.fl-imerss-map-panel {
    padding: 1rem 0rem 2rem 2rem;
}

.fl-imerss-map-panel .fld-imerss-panel-label {
    position: unset;
    padding-bottom: 1.5rem;
}

.fld-imerss-map {
    height: 450px;
}

.fld-imerss-taxonDisplay {
    margin-top: 0;
    width: auto;
}

.ui-widget-header { /* Override theme to avoid clutter in tab top */
    background: none;
    border: none;
}

.ui-widget-content {
    border: none;
}

.ui-widget.ui-widget-content {
    border: none;
}

#fli-tab-sunburst, #fli-tab-checklist, #fli-tab-simple-checklist {
    background: var(--imerss-eco-colour);
}

.fld-imerss-taxonDisplay-wrapper {
    background: var(--imerss-eco-colour);
}

.fld-imerss-tabs .ui-state-active.ui-tabs-active a {
    background: var(--imerss-eco-colour);
}

.fld-imerss-tabs .ui-state-active.ui-tabs-tab {
    background: var(--imerss-eco-colour);
}

.fld-imerss-map-outer-panel-wrapper {
    background: var(--imerss-map-colour);
}
