/* Phase II-era old codebase file
  This is currently used primarily for Valdes map view which has dataset
   controls but also Xetthecum-style panels
 */

:root {
  --imerss-map-width: 500px;
}

.imerss-map {
    height: 350px;
}

.imerss-panel-label {
    display: none;
}

.imerss-map-info-panel {
    display: none;
}

.imerss-left-column {
    width: 900px;
}

.imerss-svg {
    margin-left: -80px;
}

.imerss-taxonDisplay {
    min-height: 800px;
    height: auto;
}

.imerss-taxonDisplay-wrapper {
    position: sticky;
    top: 0;
}

.imerss-map-panel {
    display: flex;
    align-items: center;
    width: 100%;
}

tr:first-child .imerss-obs-count-column,
tr:first-child .imerss-taxa-count-column {
    font-size: smaller;
}