:root {
  --bagatelle-map-width: 700px;
  --bagatelle-eco-colour: #DEE0B0;
  --bagatelle-map-colour: #DDE8C8; 
}

.fld-bagatelle-region-marine {
    fill: url(#marine);
    background-repeat: repeat;
}

.fld-bagatelle-region-lacustrine {
    fill: url(#lacustrine);
    background-repeat: repeat;
}

.fld-bagatelle-region-wetland {
    fill: url(#wetland);
    background-repeat: repeat;
}

.fld-bagatelle-region-recently-harvested {
    fill: url(#recently-harvested);
    background-repeat: repeat;
}

.fld-bagatelle-region-pole-sapling {
    fill: url(#pole-sapling);
    background-repeat: repeat;
}

.fld-bagatelle-region-young-forest {
    fill: url(#young-forest);
    background-repeat: repeat;
}

.fld-bagatelle-region-mature-forest {
    fill: url(#mature-forest);
    background-repeat: repeat;
}

.fld-bagatelle-region-woodland {
    fill: url(#woodland);
    background-repeat: repeat;
}


.fl-xetthecum-banner {
    background: #EDEFE9;
    margin: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    font-size: 2.5rem;
}

.fl-bagatelle-container {
    margin-top: 2rem;
}

.fld-bagatelle-map-holder {
    background: var(--bagatelle-map-colour);
}

.fl-bagatelle-active-panel {
    border: 3px solid #4F5346;
}

.fl-bagatelle-map-panel {
    padding: 1rem 0rem 2rem 2rem;
}

.fl-bagatelle-map-panel .fld-bagatelle-panel-label {
    position: unset;
    padding-bottom: 1.5rem;
}

.fld-bagatelle-map-outer-panel {
    background: var(--bagatelle-map-colour);
    padding: 2rem;
}

.fld-bagatelle-map-outer-panel .fld-bagatelle-panel-label {
    position: unset;
    padding-bottom: 1.5rem;
}

.fld-bagatelle-map-community {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.fld-bagatelle-map-class {
    font-size: 1.5rem;
}


.fl-bagatelle-map-info-panel {
    width: 20rem;
}

.fld-bagatelle-map-legend > span {
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-bottom: 0.4rem;
}

.fl-bagatelle-legend-end-group {
    margin-bottom: 0.7rem;
}

.fld-bagatelle-legend-row {
    padding: 2px;
}

.fld-bagatelle-legend-row.fld-bagatelle-selected {
    background: #FCFF63;
}


.fld-bagatelle-legend-icon {
    display: inline-block;
    width: 2rem;
    height: 1rem;
}

.fld-bagatelle-legend-row.fld-bagatelle-selected .fld-bagatelle-legend-icon {
    background-image: url(../img/selected-tick.svg);
    background-size: 1rem;
    background-position: center center; 
    background-repeat: no-repeat;
}

.fld-bagatelle-legend-preview {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #353030;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.fld-bagatelle-legend-label {
    display: inline-block;
    font-size: 0.9rem;
    width: 13rem;
}

.fld-bagatelle-map {
    height: 500px;
}

#fli-tab-sunburst, #fli-tab-checklist {
    background: var(--bagatelle-eco-colour);
}

.fld-bagatelle-taxonDisplay {
    background: var(--bagatelle-eco-colour);
}

.fld-bagatelle-tabs .ui-state-active.ui-tabs-active a {
    background: var(--bagatelle-eco-colour);
}

.fld-bagatelle-tabs .ui-state-active.ui-tabs-tab {
    background: var(--bagatelle-eco-colour);
}

.fl-xetthecum-audio {
    width: 2.5rem;
    height: 2.5rem;
    padding-bottom: 0.4rem;
    margin-left: 1rem;
    border: none;
    background: none;
    background-image: url(../img/audio.svg);
    background-size: 2.5rem;
    background-position: center center; 
    background-repeat: no-repeat;
}

.fl-xetthecum-audio:hover {
    outline: 1px solid black;
    outline-offset: 1px;
}

.fl-taxonDisplay-value iframe {
    margin-top: 5px;
}


.fld-bagatelle-taxonDisplay {
    margin-top: 0px;
}
/*
on .ui-tabs .ui-tabs-nav li.ui-tabs-active
will move it down so that it can overwrite border

    z-index: 999;
    position: relative;
    top: 3px;

and then e.g. on the tab #fli-tab-checklist
    border: 2px dashed black;

To straighten out first tab:

.ui-tabs .ui-tabs-nav
padding: 0

*/